main {
	border-radius: 20px;
	width: 1000px;
	padding: 20px;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	background-color: rgba(59, 59, 59, 0.39);
}

body {
	background-image: url(assets/background.png);
}

.header {
	border: 20px solid #daaf61;
	border-image: url(assets/borda.png);
	border-image-slice: 25;
	text-align: center;
	padding: 20px;
}

.header > img {
	outline: inset;
	outline-color: #daaf61;
	align-self: center;
}

h2 {
	margin: 20px;
}

h2,
ul,
.container > div > h1 {
	color: #daaf61;
}

.container > div > h1 {
	height: 30px;
	width: 400px;
	border-radius: 10px 10px 0px 0px;
	background-color: rgba(0, 0, 0, 0.411);
	padding: 10px;
	box-shadow: 4px 4px 10px 4px inset rgba(0, 0, 0, 0.7);
	outline: inset;
}

.container > div > h1:hover {
	background-color: rgba(59, 59, 59, 0.685);
}

ul {
	width: 80%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: larger;
	border-radius: 10px;
}

a {
	color: gold;
	font-weight: bold;
}

a:hover {
	color: white;
}

/* Nesse caso você poderia criar classes separadas para o mesmo objetivo,
na maioria dos casos com uma biblioteca de css tu usaria assim */

.d-flex {
	display: flex;
}

.d-flex-direction-collumn {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.al-items-center {
	align-items: center;
}

.text-al-center {
	text-align: center;
}
