@charset "UTF-8";

@font-face {
    font-family: 'Fonte1';
    src: url('celtic.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fonte2';
    src: url('martel.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #d4c0a1;;
}

h2{
    font-family: 'Fonte1', sans-serif;
    color: gold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

li{
    font-family: 'Fonte2', sans-serif;
    color: black;
}