main{
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin:auto;
    box-shadow: 5px 5px 5px black;
}

body{
        background-color: rgba(165, 42, 42, 0.623);
        background-image: url(assets/fundo.webp);
}

@font-face {
    font-family: 'Decaying';
    src: url('assets/fontes/decaying.ttf') format('truetype');    
}

h1,.titulo{
    font-family: 'Decaying', sans-serif;
    font-size: 1em;
    background-color: darkred;
    color: gold;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    padding: 5px;
    box-shadow: 2px 2px 5px 2px inset rgba(0, 0, 0, 0.7);
    border-radius: 10px 0px;
}

ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: gold;
    font-size: 1.5em;
    font-weight: bold;
}

li{
    display: flex;
    justify-content: space-between;
}

.titulo, .comidas{
    font-family: 'Decaying', sans-serif;
    color: gold;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.titulo{
    font-size: 3em;
    text-align: center;
    margin: 5px;
}

.comidas{
    outline: 1px dashed gold;
    align-content: center;
    background-color: rgb(73, 73, 73);
    height: 30px;
    width: 150px;
    font-size: 1em;
    margin: 20px;
}

.comidas:hover{
        background-color: brown;
}

a{
    color: gold;
    text-align: center;
}
a:link, a:visited {
    text-decoration: none;
}

hr{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    height: 1px;
    background-color: gold;
    border: none;
}

span{
    text-align: end;
}

div{
    display: flex;
    justify-content: space-around;
}



